doctype html
html
  head
    title NERO
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='public/extra.css')
    link(rel='stylesheet', type='text/css', href='public/style.css')
    link(rel='shortcut icon', sizes='196x196', href='public/196x196.png')
    link(rel='apple-touch-icon', href='public/60x60.png')
    link(rel='apple-touch-icon', sizes='76x76', href='public/76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='public/120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='public/152x152.png')
  body
    .background
      .hometop
        ul.nav-tabs
          a(href='/')
            li
              span Home
              img(src='public/homelogo.png')
          a(href='/solar')
            li
              span Solar
              img(src='public/solarlogo.png')
          a(href='/wind')
            li
              span Wind
              img(src='public/windlogo.png')
          a(href='/hydropower')
            li
              span Hydropower
              img(src='public/hydrologo.png')
          a(href='/geothermal')
            li
              span Geothermal
              img(src='public/geologo.png')
        .content
          .splash
            h2.box About
      .outer-container
        .container.circlepics
          h2 Leanne Joseph
          br
          img(src='public/leanne.jpg')
          br
          p
            | Leanne is in 9th grade at John Horn High School in Mesquite, TX. She is often found spending time with her friends and family while she also enjoys art and music in her free time. Leanne has done the coding for this website and enjoyed diving into the world of web development because she felt that it offered a great opportunity to learn a new skill. With her newfound knowledge of HTML, CSS, and JavaScript, Leanne is grateful for the new knowledge and technology that she was exposed to.
        .divider
          .inner-divider
        .container.circlepics
          h2 Steven Flores
          br
          img(src='public/steven.jpg')
          br
          p
            | Steven is in 9th grade at John Horn High School in Mesquite, TX. Steven is an active member of the JROTC at Horn High school and also has an amazing talent for photography. If you want someone to get creative, Steven is your guy! Due to his passion for creating and editing, Steven gladly contributed to the design portion of our site. By whipping up designs in Photoshop for Leanne to code from, the process was impeccably smooth.
        .divider
          .inner-divider
        .container.circlepics
          h2 Stephanie Thomas
          br
          img(src='public/stephanie.jpg')
          br
          p
            | Stephanie is in 10th grade at John Horn High School in Mesquite, TX. Stephanie spends her leisure time dancing and dabbling in both the world of fashion and art. Although she too contributed to design decisions, Stephanie took over sculpting the content of our site with her impressive writing skills. Putting together research for alternative energy sources and typing the entire content of our site is tough work, but Stephanie managed to achieve this with ease.
        .footer
          img(src='public/bpa-logo.png')
          br
          p Dr. John Horn High School
          p Website Design Team 1 2013-2014
          p Chapter 2 (02-0174)
          p Area 1 Region 3
          br
          ul
            a(href='/about')
              li About
            li |
            a(href='/credits')
              li Credits
          br
          a(href='https://www.facebook.com/nerobpa', target='_blank')
            img(src='public/fb.png')
          a(href='http://statigr.am/nero_bpa', target='_blank')
            img(src='public/instagram.png')
          a(href='https://plus.google.com/103287148021455820586/posts', target='_blank')
            img(src='public/google+.png')
          a(href='https://twitter.com/nero_bpa', target='_blank')
            img(src='public/twitter.png')

