doctype html
html
  head
    title NERO
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='public/extra.css')
    link(rel='stylesheet', type='text/css', href='public/style.css')
    link(rel='shortcut icon', sizes='196x196', href='public/196x196.png')
    link(rel='apple-touch-icon', href='public/60x60.png')
    link(rel='apple-touch-icon', sizes='76x76', href='public/76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='public/120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='public/152x152.png')
  body
    .background
      ul.nav-tabs
        a(href='/')
          li
            span Home
            img(src='public/homelogo.png')
        a(href='/solar')
          li
            span Solar
            img(src='public/solarlogo.png')
        a(href='/wind')
          li
            span Wind
            img(src='public/windlogo.png')
        a(href='/hydropower')
          li
            span Hydropower
            img(src='public/hydrologo.png')
        a(href='/geothermal')
          li
            span Geothermal
            img(src='public/geologo.png')
      .outer-container
        .content
          .splash
            h2.box Credits
          .container
            h2 Solar Research
            br
            ol
              a.links(href='http://solarenergy-usa.com/solar-info/solar-costs/', target='_blank')
                li http://solarenergy-usa.com/solar-info/solar-costs/
              a.links(href='http://www.sunrun.com/solar-lease/cost-of-solar/', target='_blank')
                li http://www.sunrun.com/solar-lease/cost-of-solar/
              a.links(href='http://solarenergy.com/', target='_blank')
                li http://solarenergy.com/
              a.links(href='http://texassolaroutfitters.com/solar-basics/faqs/', target='_blank')
                li http://texassolaroutfitters.com/solar-basics/faqs/
            br
            br
            h3 public:
            br
            ol
              a.links(href='http://www.nrel.gov/gis/solar.html', target='_blank')
                li http://www.nrel.gov/gis/solar.html
              a.links(href='http://www.flickr.com/photos/rickety/5052486185/sizes/l/', target='_blank')
                li
                  | Utah House Solar Panels by ricketyus: http://www.flickr.com/photos/rickety/5052486185/sizes/l/
              a.links(href='http://www.flickr.com/photos/timtimes/5599777777/sizes/l/', target='_blank')
                li
                  | Typical Solar Installation by thetimchannel: http://www.flickr.com/photos/timtimes/5599777777/sizes/l/
            br
            br
            h3 Creative Commons Attribution License:
            br
            ol
              a.links(href='http://creativecommons.org/licenses/by/2.0/legalcode', target='_blank')
                li http://creativecommons.org/licenses/by/2.0/legalcode
            br
            br
            h3 Videos
            br
            ol
              a.links(href='http://www.youtube.com/watch?v=m6UgO6-HELc', target='_blank')
                li http://www.youtube.com/watch?v=m6UgO6-HELc
              a.links(href='http://www.youtube.com/watch?v=0elhIcPVtKE', target='_blank')
                li
                  | Energy 101: Solar PV by U.S. Department of Energy: http://www.youtube.com/watch?v=0elhIcPVtKE
          .divider
            .inner-divider
          .container
            h2 Wind Research
            br
            br
            ol
              a.links(href='http://environment.nationalgeographic.com/environment/global-warming/wind-power-profile/', target='_blank')
                li
                  | http://environment.nationalgeographic.com/environment/global-warming/wind-power-profile/
              a.links(href='http://interestingenergyfacts.blogspot.com/2008/03/wind-energy-facts.html', target='_blank')
                li http://interestingenergyfacts.blogspot.com/2008/03/wind-energy-facts.html
              a.links(href=' http://homeguides.sfgate.com/wind-energy-residential-home-78709.html', target='_blank')
                li  http://homeguides.sfgate.com/wind-energy-residential-home-78709.html
              a.links(href='http://www.windenergyfoundation.org/wind-at-work/wind-consumers/wind-power-your-home', target='_blank')
                li
                  | http://www.windenergyfoundation.org/wind-at-work/wind-consumers/wind-power-your-home
              a.links(href='http://energy.gov/articles/solar-wind-hydropower-home-renewable-energy-installations', target='_blank')
                li
                  | http://energy.gov/articles/solar-wind-hydropower-home-renewable-energy-installations
              a.links(href='http://www.dasolar.com/home-wind-power/texas', target='_blank')
                li http://www.dasolar.com/home-wind-power/texas
            br
            br
            h3 public:
            br
            ol
              a.links(href='http://www.njcleanenergy.com/renewable-energy/technologies/wind/faqs', target='_blank')
                li http://www.njcleanenergy.com/renewable-energy/technologies/wind/faqs
              a.links(href='http://www.flickr.com/photos/sustainable-rural/2204304728/sizes/l/', target='_blank')
                li http://www.flickr.com/photos/sustainable-rural/2204304728/sizes/l/
            br
            br
            h3 Creative Commons Attribution License:
            br
            ol
              a.links(href='http://creativecommons.org/licenses/by/2.0/legalcode', target='_blank')
                li http://creativecommons.org/licenses/by/2.0/legalcode
            br
            br
            h3 Videos
            br
            ol
              a.links(href='http://www.youtube.com/watch?v=tsZITSeQFR0', target='_blank')
                li
                  | Energy 101: Wind PV by U.S. Department of Energy: http://www.youtube.com/watch?v=tsZITSeQFR0
          .divider
            .inner-divider
          .container
            h2 Hydropower Research
            br
            ol
              a.links(href='http://www.homepower.com/articles/microhydro-power/equipment-products/intro-hydropower-part-1', target='_blank')
                li
                  | http://www.homepower.com/articles/microhydro-power/equipment-products/intro-hydropower-part-1
              a.links(href='.http://www.homepower.com/articles/microhydro-power/equipment-products/hydro-electric-turbine-buyers-guide', target='_blank')
                li
                  | .http://www.homepower.com/articles/microhydro-power/equipment-products/hydro-electric-turbine-buyers-guide
              a.links(href='http://www.webmutations.com/energy/reports/present/rephydro.html', target='_blank')
                li http://www.webmutations.com/energy/reports/present/rephydro.html
              a.links(href='http://www.energysavingtrust.org.uk/Generating-energy/Choosing-a-renewable-technology/Hydroelectricity', target='_blank')
                li
                  | http://www.energysavingtrust.org.uk/Generating-energy/Choosing-a-renewable-technology/Hydroelectricity
              a.links(href='http://www.alternative-energy-news.info/micro-hydro-power-pros-and-cons/', target='_blank')
                li http://www.alternative-energy-news.info/micro-hydro-power-pros-and-cons/
              a.links(href='http://www.energysavingtrust.org.uk/Generating-energy/Choosing-a-renewable-technology/Hydroelectricity#4', target='_blank')
                li
                  | http://www.energysavingtrust.org.uk/Generating-energy/Choosing-a-renewable-technology/Hydroelectricity#4
            br
            br
            h3 public:
            br
            ol
              a.links(href='http://www.flickr.com/photos/silicon640c/5642181196/sizes/l/', target='_blank')
                li http://www.flickr.com/photos/silicon640c/5642181196/sizes/l/
            br
            br
            h3 Creative Commons Attribution License:
            br
            ol
              a.links(href='http://creativecommons.org/licenses/by/2.0/legalcode', target='_blank')
                li http://creativecommons.org/licenses/by/2.0/legalcode
            br
            br
            h3 Videos
            br
            ol
              a.links(href='http://www.youtube.com/watch?v=tpigNNTQix8', target='_blank')
                li
                  | Energy 101: Hydropower PV by U.S. Department of Energy: http://www.youtube.com/watch?v=tpigNNTQix8
          .divider
            .inner-divider
          .container
            h2 Geothermal Research
            br
            ol
              a.links(href='http://energy.gov/energysaver/articles/geothermal-heat-pumps', target='_blank')
                li http://energy.gov/energysaver/articles/geothermal-heat-pumps
              a.links(href='http://www.energyhomes.org/renewable%20technology/geoinstallation.html', target='_blank')
                li http://www.energyhomes.org/renewable%20technology/geoinstallation.html
              a.links(href='http://www.thedailygreen.com/green-homes/latest/geothermal-cost-payback-0911', target='_blank')
                li http://www.thedailygreen.com/green-homes/latest/geothermal-cost-payback-0911
              a.links(href='http://www.eia.gov/energyexplained/index.cfm?page=geothermal_where', target='_blank')
                li http://www.eia.gov/energyexplained/index.cfm?page=geothermal_where
            br
            br
            h3 public:
            br
            ol
              a.links(href='http://www.nrel.gov/gis/images/2013_02_28_Geothermal_Capacity-01.jpg', target='_blank')
                li http://www.nrel.gov/gis/images/2013_02_28_Geothermal_Capacity-01.jpg
              a.links(href='http://en.wikipedia.org/wiki/Geothermal_energy_in_the_United_States', target='_blank')
                li http://en.wikipedia.org/wiki/Geothermal_energy_in_the_United_States
              a.links(href='http://www.flickr.com/photos/mindseye_pj/7880705862/sizes/l/', target='_blank')
                li
                  | Geothermal Activity by MindsEye_PJ: http://www.flickr.com/photos/mindseye_pj/7880705862/sizes/l/
            br
            br
            h3 Creative Commons Attribution License:
            br
            ol
              a.links(href='http://creativecommons.org/licenses/by/2.0/legalcode', target='_blank')
                li http://creativecommons.org/licenses/by/2.0/legalcode
            br
            br
            h3 Videos
            br
            ol
              a.links(href='http://www.youtube.com/watch?v=y_ZGBhy48YI', target='_blank')
                li
                  | Energy 101: Geothermal Heat Pumps by U.S. Department of Energy http://www.youtube.com/watch?v=y_ZGBhy48Y
          .divider
            .inner-divider
          .footer
            img(src='public/bpa-logo.png')
            br
            p Dr. John Horn High School
            p Website Design Team 1 2013-2014
            p Chapter 2 (02-0174)
            p Area 1 Region 3
            br
            ul
              a(href='/about')
                li About
              li |
              a(href='/credits')
                li Credits
            br
            a(href='https://www.facebook.com/nerobpa', target='_blank')
              img(src='public/fb.png')
            a(href='http://statigr.am/nero_bpa', target='_blank')
              img(src='public/instagram.png')
            a(href='https://plus.google.com/103287148021455820586/posts', target='_blank')
              img(src='public/google+.png')
            a(href='https://twitter.com/nero_bpa', target='_blank')
              img(src='public/twitter.png')

