doctype html
html
  head
    title NERO
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='public/style.css')
    link(rel='stylesheet', type='text/css', href='public/page.css')
    link(rel='shortcut icon', sizes='196x196', href='public/196x196.png')
    link(rel='apple-touch-icon', href='public/60x60.png')
    link(rel='apple-touch-icon', sizes='76x76', href='public/76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='public/120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='public/152x152.png')
  body.hydropower
    .background
      ul.nav-tabs
        a(href='/')
          li
            span Home
            img(src='public/homelogo.png')
        a(href='/solar')
          li
            span Solar
            img(src='public/solarlogo.png')
        a(href='/wind')
          li
            span Wind
            img(src='public/windlogo.png')
        a(href='/hydropower')
          li.selected
            span Hydropower
            img(src='public/hydrologo.png')
        a(href='/geothermal')
          li
            span Geothermal
            img(src='public/geologo.png')
      .outer-container
        .content
          .splash
            h2.box Explore Hydropower
          .summary.container
            p
              | Did you know people have actually been harnessing the energy of moving water for centuries and allowed the energy to help them survive? Worldwide, hydropower plants generate approximately 24% of the world's electricity and supply over 1 billion people with power. Have you ever thought about taking advantage of this alternative energy source and allowing it to cut your costs?
          .divider
            .inner-divider
          .container
            h2 What is Hydropower?
            br
            p
              | The energy of flowing water is converted into electricity using simple mechanics to create hydropower. Moving water rushes through a system of turbines that turns a metal shaft inside a generator, producing a supply of electricity. Electricity generated using hydropower is known as hydroelectricity and this energy is generally known to be very reliable.
            img(src='public/hydro2.jpg')
          .divider
            .inner-divider
          .container
            h2 How?
            br
            ul
              li
                | Gravity and the flow of water are both used to determine how much power and energy a hydropower system can generate
              li The more gravity that is exerted on the water, the quicker the movement
              li
                | Water movement is the key factor in producing hydroelectric energy, fast moving water produces more energy at a quicker pace
              li
                | Rain or melted snow, usually streaming from hills and mountains, create streams and rivers that eventually run to the ocean at intense speeds
            img(src='public/hydro4.jpg')
          .divider
            .inner-divider
          .container
            h2 Geography
            br
            p
              | Despite common belief, hydroelectric power is not just harnessed through complex dams situated on America's largest rivers. In fact, many small bodies of water have the potential to supply enough energy to power an entire house. Houses that are situated along small creeks and rivers with fast moving water have the best chance at capturing the power of moving water. Homeowners living in northern states are able to capture the full power of hydropower because of the high elevation and excess water drainage due to melting snow. The map below shows the hydropower generation in many different states all across the United States. These helpful maps allow homeowners to see where the best locations to harness hydropower will be.
            img(src='public/hydro1.jpg')
          .divider
            .inner-divider
          .container
            h2 Cost/Savings
            br
            p
              | The starting cost of a hydroelectric generator may be around $1,000 prior to any installation fees. In total, the cost of a hydropower system could be as much as $20,000 depending on many things such as electricity requirements and location. The overall cost may be expensive, but unlike other alternatives, the maintenance costs remain relatively small. Federal tax incentives are also offered for hydropower systems.Because hydroelectric turbines can run 24 hours a day, the potential amount of money you could save is substantially high, but the savings mainly depend on the number of running hours. Use the Hydropower 
              a(href='http://www.hydromatch.com/resources/hydropower_cost_estimator') cost calculator
              |  to find out if hydroelectric power will benefit you!
            br
            iframe(width='560', height='315', src='//www.youtube.com/embed/tpigNNTQix8', frameborder='0', allowfullscreen='')
        .divider
          .inner-divider
        .footer
          img(src='public/bpa-logo.png')
          br
          p Dr. John Horn High School
          p Website Design Team 1 2013-2014
          p Chapter 2 (02-0174)
          p Area 1 Region 3
          br
          ul
            a(href='/about')
              li About
            li |
            a(href='/credits')
              li Credits
          br
          a(href='https://www.facebook.com/nerobpa', target='_blank')
            img(src='public/fb.png')
          a(href='http://statigr.am/nero_bpa', target='_blank')
            img(src='public/instagram.png')
          a(href='https://plus.google.com/103287148021455820586/posts', target='_blank')
            img(src='public/google+.png')
          a(href='https://twitter.com/nero_bpa', target='_blank')
            img(src='public/twitter.png')

