doctype html
html
  head
    title NERO
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='public/style.css')
    link(rel='stylesheet', type='text/css', href='public/page.css')
    link(rel='shortcut icon', sizes='196x196', href='public/196x196.png')
    link(rel='apple-touch-icon', href='public/60x60.png')
    link(rel='apple-touch-icon', sizes='76x76', href='public/76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='public/120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='public/152x152.png')
  body.solar
    .background
      ul.nav-tabs
        a(href='/')
          li
            span Home
            img(src='public/homelogo.png')
        a(href='/solar')
          li.selected
            span Solar
            img(src='public/solarlogo.png')
        a(href='/wind')
          li
            span Wind
            img(src='public/windlogo.png')
        a(href='/hydropower')
          li
            span Hydropower
            img(src='public/hydrologo.png')
        a(href='/geothermal')
          li
            span Geothermal
            img(src='public/geologo.png')
      .outer-container
        .content
          .splash
            h2.box Explore Solar
          .summary.container
            p
              | Did you know that the energy we receive from the sun per year is 35,000 times the total energy used by man? Solar energy is actually one of the most resourceful energy sources we have available to us. As homeowners, you could put some of that energy to use in powering our very own homes and saving money!
          .divider
            .inner-divider
          .container
            h2 What is a Solar Panel?
            br
            p
              | Photovoltaic panels or solar panels, collect the energy from sunlight and convert that energy into electricity. This energy is stored in large flat panels that are made up of many individual solar cells. As electric currents are produced, they are sent through your home's electrical system to provide power for your household.
            img(src='public/solar1.jpg')
          .divider
            .inner-divider
          .container
            h2 How?
            br
            p
              | Home solar panels can be used as a partial or full source of electrical energy for a home. Residential solar panels, as they are called, can be tied into your current electrical system, or you can produce all energy you need to live.The majority of residential solar energy systems use solar panels that attach to the roof of your home. The amount of power or wattage generated depends on the size and number of panels installed. If you are planning on operating your entire home completely with solar power, then a system must be included in the design. Small solar systems can also be installed to be used as backup power during daylight hours.
            img(src='public/solar4.jpg')
          .divider
            .inner-divider
          .container
            h2 Geography
            br
            p
            p
              | Nationwide: Southwestern United States provides a favorable location for concentrating solar power. The warm and sunny climate will allow for proper energy production. California is found to be the leading location in solar energy production thus far. The map below by the National Renewable Energy Laboratory shows the geographic concentrations of solar power systems in the United States.
            p
              | Texas: As the economy of Texas continues to grow, electricity consumption has also greatly increased, but solar power has helped many Texans save money. There are actually more than 284 solar companies in the entire state of Texas providing Texan homeowners with their alternative energy source. Here are a few steps a homeowner should perform prior to installing solar panels.
              ol
                li
                  | Check for good southern exposure. Majority of the solar exposure comes from orienting the panel south.
                li
                  | Check if the exposure is free of trees or buildings that could possibly shade the panels or drop debris. Shading solar panels dramatically reduces their productivity.
                li
                  | Check the pitch of your roof. Most roofs, flat to 60-degrees, can efficiently accommodate photovoltaic panels.
            p
            img(src='public/solar3.jpg')
            img(src='public/solar2.jpg')
          .divider
            .inner-divider
          .container
            h2 Cost/Savings
            br
            img(src='public/solar5.png')
            br
            p
              | The total cost of a system can be anywhere from $7,000 to $40,000. Here's how it all adds up:
            br
            ul.list
              li 45%-equipment costs (solar panels, wiring, mounting hardware)
              li
                | 25%-installation and permit costs (system installation, local permit costs and fees)
              li 30%-sales, marketing, and operational costs (monitoring and maintenance)
            br
            br
            p
              | Incentives are also offered to help lower the cost of solar systems. Homeowners are eligible for 30% off the cost of a system from the federal government in the form of tax credit. State incentives are also offered so take a look at
              a.links(href='http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state=TX', target='_blank') DSIRE
              |  to learn how much are you eligible of receiving from your state.
            br
            p
              | On average, a middle class household will spend anywhere from $120 to $200 each month in home energy costs, totaling as much as $2,400 a year. With solar panels, the average homeowner can save as much as $1,000 a year on energy. Use the solar
              a.links(href='http://solarenergy.net/solar-tools/solar-calculator/', target='_blank') cost calculator
              |  to find out how much solar panels may actually benefit you!
            br
            iframe(width='560', height='315', src='//www.youtube.com/embed/0elhIcPVtKE', frameborder='0', allowfullscreen='')
        .divider
          .inner-divider
        .footer
          img(src='public/bpa-logo.png')
          br
          p Dr. John Horn High School
          p Website Design Team 1 2013-2014
          p Chapter 2 (02-0174)
          p Area 1 Region 3
          br
          ul
            a(href='/about')
              li About
            li |
            a(href='/credits')
              li Credits
          br
          a(href='https://www.facebook.com/nerobpa', target='_blank')
            img(src='public/fb.png')
          a(href='http://statigr.am/nero_bpa', target='_blank')
            img(src='public/instagram.png')
          a(href='https://plus.google.com/103287148021455820586/posts', target='_blank')
            img(src='public/google+.png')
          a(href='https://twitter.com/nero_bpa', target='_blank')
            img(src='public/twitter.png')

