doctype html
html
  head
    title NERO
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', type='text/css', href='public/style.css')
    link(rel='stylesheet', type='text/css', href='public/page.css')
    link(rel='shortcut icon', sizes='196x196', href='public/196x196.png')
    link(rel='apple-touch-icon', href='public/60x60.png')
    link(rel='apple-touch-icon', sizes='76x76', href='public/76x76.png')
    link(rel='apple-touch-icon', sizes='120x120', href='public/120x120.png')
    link(rel='apple-touch-icon', sizes='152x152', href='public/152x152.png')
  body.wind
    .background
      ul.nav-tabs
        a(href='/')
          li
            span Home
            img(src='public/homelogo.png')
        a(href='/solar')
          li
            span Solar
            img(src='public/solarlogo.png')
        a(href='/wind')
          li.selected
            span Wind
            img(src='public/windlogo.png')
        a(href='/hydropower')
          li
            span Hydropower
            img(src='public/hydrologo.png')
        a(href='/geothermal')
          li
            span Geothermal
            img(src='public/geologo.png')
      .outer-container
        .content
          .splash
            h2.box Explore Wind
          .summary.container
            p
              | Did you know that there is enough on-shore wind in America to power the country 10 times over? Have you ever realized that wind is a completely clean and healthy source of renewable energy that produces no air or water pollution? Homeowners should be taking advantage of these useful energy sources and allow the earth to help lower the costs of daily living.
          .divider
            .inner-divider
          .container
            h2 What is a Wind Turbine?
            br
            p
              | Wind turbines  convert the wind's force into mechanical power to help power our homes. Many may describe the structure of a wind turbine as a "set of airplane propellers mounted on top of a tall support structure, like a pole or tower." The average height of a small wind turbine is about 80 feet, but can range anywhere from 30-140 feet. The generator size and tower height does not generally display any sort of correlation. So on average, a 5-kW turbine could be on a tower anywhere from 30 to 140 feet high.
            img(src='public/wind4.jpg')
          .divider
            .inner-divider
          .container
            h2 How?
            br
            p The process consists of two simple steps.
            ol
              li Oncoming wind produces mechanical force by turning the turbine's propellers.
              li
                | A generator inside the turbine's body converts the mechanical force of the spinning blades into electricity.
            p
              | Homeowners can take a look at the U.S. Wind Energy Resource Map online to estimate a location's wind resource potential.
            ul
              li
                | Estimating your wind resources and checking your local permitting and zoning requirements are key factors to consider prior to installing your system
              li Homeowners also need to consider is the size of their property
              li
                | According to the U.S. Department of Energy, wind-energy systems require at least one acre or more to support one stand-alone turbine.
            img(src='public/wind1.jpg')
          .divider
            .inner-divider
          .container
            h2 Geography
            br
            p
              | Nationwide: Central and west central United States would be the best place to harness the use of wind power because of their high elevations and situations in "wind tunnels." The coastlines of the United States are also great places to cost effectively use wind energy. The map below by the National Renewable Energy Laboratory shows the various wind capacities for different regions of the United States. This map can be used to help predict the areas in which it would be most effective to invest in a wind system for your home.
            p
              | Texas: Texas is the best states to capture wind power because of its large abundance of wind and great rebates and incentives available to homeowners. With over 2,000 wind turbines throughout West Texas, over 12% of the state's energy was produced solely off of energy generated from wind. Homeowners in Texas are available to receive up 60% incentives to cover installation costs. Before installation, a homeowner must contact a local wind power provider for an on-site evaluation and apply for incentives/rebates from the state of Texas. Once the prerequisites are met, installation of residential wind turbines usually takes 2-3 days. After the turbines are installed, they are wired into your home's electrical system and allow you cut back on energy costs.
            img(src='public/wind5.jpg')
            img(src='public/wind3.jpg')
          .divider
            .inner-divider
          .container
            h2 Cost/Savings
            br
            img(src='public/wind2.jpg')
            br
            p
              | The U.S. Department of Energy estimates the cost to be around $1,000 to $5,000 per kilowatt for the price of a residential wind turbine. Small wind systems can significantly lower your energy-costs by as much as 90 percent, but energy efficient appliances would also help lower your costs. However, wind systems do require careful  and thoughtful planning. The government also offers tax incentives to spur wind-energy development. Homeowners are eligible for 30% off the cost of a system from the federal government. Plan for your very own wind turbine using the wind. 
              a(href='http://www.solar-estimate.org/index.php?page=rightforme&v_est=1&estimatoroverride=1') cost calculator
            br
            iframe(width='560', height='315', src='//www.youtube.com/embed/tsZITSeQFR0', frameborder='0', allowfullscreen='')
        .divider
          .inner-divider
        .footer
          img(src='public/bpa-logo.png')
          br
          p Dr. John Horn High School
          p Website Design Team 1 2013-2014
          p Chapter 2 (02-0174)
          p Area 1 Region 3
          br
          ul
            a(href='/about')
              li About
            li |
            a(href='/credits')
              li Credits
          br
          a(href='https://www.facebook.com/nerobpa', target='_blank')
            img(src='public/fb.png')
          a(href='http://statigr.am/nero_bpa', target='_blank')
            img(src='public/instagram.png')
          a(href='https://plus.google.com/103287148021455820586/posts', target='_blank')
            img(src='public/google+.png')
          a(href='https://twitter.com/nero_bpa', target='_blank')
            img(src='public/twitter.png')

